* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #1D1F20;
  color: white;
  text-align: center;
}

.navbar {
  background-color: #333;
  padding: 15px;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.projects-container, .skills-container, .contact-form {
  margin: 20px;
}

footer {
  background-color: #111;
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
