@import url('https://fonts.googleapis.com/css?family=Raleway:200');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

h2{
  font-family:'TeX Gyre Adventor', sans-serif;
  
}
#uppersection{
    margin-top: 25px;
    margin-bottom: 25px;
}
#myname{
    margin-top: 50px;
}
  



#myname {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 20px;
  color: white;
  font-family: 'Raleway';
  font-size: 2.5rem;
}
#myocc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  color: white;
  font-family: 'Raleway';
  font-size: 1.5rem;
  font-style: italic;
  text-shadow: #a166ab;
}
#myphoto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient-border {
  --borderWidth: 4px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 40vw;
  }
  #pinfo1,
  #langs1,
  #education1,
  #skills1,
  #hobbies1 {
    font-size: 4em;
    background-color: #18191f;
    color: #fff;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
      2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
      inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 11px 19px;
    margin: 0 40px;
    animation: animate 3s linear infinite;
    text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
      0 0 200px #0072ff;
  }
  #pinfo1 {
    animation-delay: 0.3s;
  }
  #langs1 {
    animation-delay: 0.7s;
  }
  #education1 {
    animation-delay: 0.1s;
  }
  #hobbies1 {
    animation-delay: 0.5s;
  }
  
  @keyframes animate {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
    
#education{
    margin-top: 50px;
    margin-bottom: 50px;
}

#skills {
    margin-top: 50px;
    margin-bottom: 50px;
}

#hobbies{
    margin-top: 50px;
    margin-bottom: 50px;
}

#pinfo{
    margin-top: 50px;
    margin-bottom: 50px;
}

#langs{
    margin-top: 50px;
    margin-bottom: 50px;
}

body {
  display: grid;
      min-height: 100vh;
      width: 100vw;
      --c: rgb(0 0 0 / 0.95);
      --bgb: linear-gradient(var(--c), var(--c));
      --bg: repeating-conic-gradient(
        from 7.5deg at center center,
        hsl(200, 100%, 0%) 0deg 15deg,
        hsl(200, 100%, 60%) 10deg 30deg
      );
      background: var(--bgb), var(--bg), black;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #1D1F20;
    display: grid;
    place-items: center;
    min-height: 100vh;
    position: relative;
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: fixed;
}

*{
    margin: auto;
    box-sizing: border-box;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  
ul, ol {
    display: inline-block;
    text-align: left;
}



#myphoto{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px; 
}

#table1{
    border: 1px solid;
    border-collapse: collapse;
    margin-top: 25px;
    margin-bottom: 50px;
}

th{
    border: 1px solid;
    border-collapse: collapse;
    height: 40px;
    background-color: rgb(25, 70, 182);
}

tr{
    border: 1px solid;
    border-collapse: collapse;
    width: 100px;
}

td{
    border: 1px solid;
    border-collapse: collapse;
    width: 200px;
    text-align: center;
}

tr, td{
    padding: 10px;
    background-color: rgb(66, 24, 237);
}

.frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

/* 7 */
.btn-7 {
    background: linear-gradient(0deg, rgb(40, 44, 255) 0%, rgb(89, 0, 178) 100%);
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .btn-7 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-7:before,
    .btn-7:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: rgb(94, 49, 255);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7:before{
       height: 0%;
       width: 2px;
    }
    .btn-7:after {
      width: 0%;
      height: 2px;
    }
    .btn-7:hover{
      color: rgb(145, 28, 255);
      background: transparent;
    }
    .btn-7:hover:before {
      height: 100%;
    }
    .btn-7:hover:after {
      width: 100%;
    }
    .btn-7 span:before,
    .btn-7 span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: rgb(21, 75, 255);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-7 span:after {
      height: 2px;
      width: 0%;
    }
    .btn-7 span:hover:before {
      height: 100%;
    }
    .btn-7 span:hover:after {
      width: 100%;
    }